POSTGRES_USER=change-me
POSTGRES_PASSWORD=change-me
POSTGRES_DB=postgres
MONGO_INITDB_ROOT_USERNAME=change-me
MONGO_INITDB_ROOT_PASSWORD=change-me
MONGO_EXPRESS_USER=change-me
MONGO_EXPRESS_PASSWORD=change-me
JWT_SECRET_KEY=change-me
MEDIA_INTERNAL_API_KEY=change-me
MEDIA_PUBLIC_BASE_URL=change-me
MEDIA_UPLOADS_PATH=media_uploads
